@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import "../../node_modules//bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules//bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules//bootstrap/scss/_forms.scss";

$base-color: #2ecc71;

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #000;
}

.col-5,
.col-2,
.col-3,
.col-6,
.col-8,
.col-4,
.col,
.col-11,
.col-12,
.col-xl-3 .col-xl-4 {
  padding: 0;
}

.col-sm-2 {
padding-right: 0;
}

.col-xl-10 {
  padding-top: 5px;
  margin-bottom: 20px;
}
.menu__list {
  margin-left: 0;
  padding-left: 0;
  .menu__item {
    list-style: none;
    margin-bottom: 23px;
    line-height: 25px;
    .menu__link {
      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
    }
  }
}

.button {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: #ffffff;
  background-color: #252525;
  border-radius: 5px;
  transition: all ease-in 0.5s;
  &:hover {
    background-color: #fff;
    color: #252525;
  }
}

.text {
  font-size: 20px;
  line-height: 27px;
}

.title {
  margin: 17px 0 30px 0;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.title-business {
  margin-top: 90px;
}

.button-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer__contact-mobile,  .img__box {
  display: none;
}

.disable{
  display: none;
}

.active {
  display: block;
}

//_____________________________________________
//Header block

.wrapper__header{
  z-index: 1000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}
.header {
  height: 105px;
}

.header__burger {
  display: none;
}

.logo__img {
  width: 179px;
  height: 51px;

  @media (max-width: 1367px) {
    width: 154px;
    height: 44px;
  }
}

.nav-menu__list {
  text-align: center;
  margin: 0 0;
  padding-left: 0;
  .list__item {
    display: inline-block;
    list-style: none;
    margin-right: 22px;
    transition: all ease-in 0.1s;

    @media (max-width: 1367px) {
      margin-right: 10px;
    }

    &:hover {
      transform: scale(1.1);
    }
    .item__link {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-decoration: none;
      color: #000000;
    }
  }
}

.header__links {
  display: flex;
  justify-content: flex-end;
  .links__item {
    display: inline-block;
    margin-right: 5.5px;
    &:last-child {
      margin: 0;
    }
  }
}

//_____________________________________________
//Private block

.wrapper__private {
  height: 768px;
  background-color: $base-color;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);

  @media (max-width: 1367px) {
    height: 755px;
  }
}

.private {
  display: flex;
  align-items: center;
}

.private__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 71px;
  color: #ffffff;
  margin-bottom: 30px;
}

.private__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 48px;
}

.button-private {
  width: 255px;
  height: 56px;
  background-color: #252525;
  border: 4px solid #252525;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  transition: all ease-in 0.5s;
  &:hover {
    background-color: $base-color;
    color: #252525;
  }
}

.private-img-phone {
  width: 650px;
  height: 706px;
  margin-left: -80px;
}
//_____________________________________________
//Securities block

.securities-head {
  text-align: center;
}
.securities-head__text {
  width: 935px;
  margin: 0 auto 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}
.body__item {
  text-align: center;
  .item__img {
    margin-bottom: 30px;
    height: 335px;
  }
  .item__titel {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #000000;
  }
  .item__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }
}

.securities-body {
  margin-bottom: 54px;
}

.securities__mail {
  margin-bottom: 49px;
  text-align: center;
}

.access__input {
  margin-right: 20px;
  height: 47px;
  border: 1px solid rgba(150, 150, 150, 1);
  border-radius: 10px;
}

.button-access {
  width: 316px;
  height: 47px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  border: 4px solid $base-color;
  background-color: $base-color;
  color: #ffffff;
  transition: all ease-in 0.5s;
  &:hover {
    background-color: #fff;
    color: $base-color;
  }
}

//_____________________________________________
//wrapper__block block

.wrapper__block {
  height: 181px;
  background-color: #252525;
  margin-bottom: 43px;
  .container {
    .row {
      height: 181px;
      width: 694px;
      margin: 0 auto;
      .block__title {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        color: #2fcc71;
      }
    }
  }
}

//_____________________________________________
//products block

.products__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 8px;
}

.products-info__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #252525;
  margin-bottom: 10px;
}
.products-info__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.products-info__text:not(:last-child) {
  margin-bottom: 74px;
}

.products__title-green {
  color: $base-color;
}

.products__img {
  margin-bottom: 26.5px;
  .img-phone {
    height: 667px;
    width: 346px;
  }
}

//______________________________________
// business block

.wrapper__business {
  background-color: #e5e5e5;
  width: 100%;
  height: 1000px;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

.business__row {
  margin: 0 auto 20px;
}

.business__col {
  text-align: center;
  border: 1px solid rgba(46, 204, 113, 1);
  border-radius: 5px;
  width: 418px;

  @media (max-width: 1400px) {
    width: 350px;
  }

  h1 {
    margin-top: 90px;
  }
}
.business__col:not(:last-child) {
  margin-right: 20px;
}
.business__icon {
  margin: 49px 0 22px 0;
}
.info__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #000000;
}
.info__text {
  font-style: normal;
  margin: 0 auto 50px;
  width: 262px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

//__________________________
// blog block

.blog__icon {
  margin-bottom: 14px;
}
.blog__img {
  width: 426px;
  height: 231px;
  @media (max-width: 1367px) {
    width: 368px;
    height: 231px;
  }
}

.blog__info__date {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}
.blog__info__text {
  font-style: normal;
  width: 350px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.blog__button {
  text-align: center;
  margin: 0 auto;
}
.blog__row {
  margin-bottom: 30px;
}

.button-news {
  font-weight: 600;
  font-size: 25px;
  width: 255px;
  height: 56px;
  line-height: 34px;
  border: 4px solid $base-color;
  border-radius: 5px;
  background-color: #fff;
  color: $base-color;
  margin-bottom: 34px;
  transition: all ease-in 0.5s;
  &:hover {
    background-color: $base-color;
    color: #fff;
  }
}

//_______________________________________
// contact us
.wrapper__contact {
  height: 495px;
  background-color: #e5e5e5;
}

.contact__row {
  height: 495px;
}
.contact__title {
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 8px;
}
.contact__col {
  @media (max-width: 1367px) {
    justify-self: flex-end;
  }
}
.contact__text {
  width: 375px;
  font-weight: 400;
}
.contact__text-mail {
  display: block;
  font-weight: 700;
  color: $base-color;
}

.contact__form__label {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.button-contact {
  width: 160px;
  height: 43px;
  float: right;
  margin-right: -12px;
}

//______________________________
//footer block

.wrapper__footer {
  height: 370px;
  background-color: #252525;
}

.footer__row__top {
  height: 305px;
}

.footer__logo {
  font-family: "Gill Sans MT";
  font-style: italic;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #2ecc71;
  margin-bottom: 19px;
}

.footer__links {
  margin-top: 58px;
  .links__item {
    display: inline-block;
    margin-right: 20px;
  }
}

.footer__contact {
  line-height: 25px;
  .contact__link {
    margin-bottom: 58px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
  }
}

.contact__link:hover,
.menu__link:hover {
  padding: 0 2px 0 2px;
}

.footer__row__bottom {
  height: 65px;
}

.footer__hr {
  background-color: #4a4a4a;
  margin: 0;
}

.footer__info {
  width: 240px;
  margin-right: 130px;
  @media (max-width: 1367px) {
    margin-right: 90px;
  }
}

.footer__rights {
  font-style: italic;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

//_______________________________________________________
//max-width 320px

@media (max-width: 361px) {

  .header {
    height: 90px;
    z-index: 2;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  }
  .nav-menu,
  .header__links {
    display: none;
  }
  .menu__burger{
    position: fixed;
    z-index: 10;
    top: 90px;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: $base-color;
    box-shadow: 2px 2px 10px black;
    
  }

  .nav-menu-mobile{
    .nav-menu__list{
      text-align: left;
      
      .list__item{
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .burger__links{
    background-color: $base-color;
    margin: 50px 0 10px;
    padding-bottom: 10px;
    .links__item{
      display: inline-block;
    }
  }

  .header__burger {
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 52px;
    width: 30px;
    height: 20px;
    span {
      position: absolute;
      background-color: $base-color;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
    }
    &:before,
    &:after {
      content: "";
      background-color: $base-color;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }

  //_________________________________
  //private
  .private {
    text-align: center;
  }
  .private__title {
    font-size: 35px;
    line-height: 40px;
    margin: 7px 0 0;
  }
  .private-block__text{
    width: 293px;
    margin: 0 auto;
  }
  .private__text { 
    font-size: 22px;
    line-height: 25px;
  }
  .img__box {
    display: block;
  }
 

  .private-img-phone {
    display: none;
    fill: none;
  }

  .img__box {
    position: relative;
    overflow: hidden;
    width: 350px;
    margin: 10px 0 10px -5px;
    height: 437px;    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      height: 437px;
      object-fit: cover;
    }
  }

  //____________________
  //securities
  .securities-body {
    margin-bottom: 27px;
  }
  .securities-head__title {
    margin: 40px 0 16px;
    font-size: 35px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
  }
  .securities-head__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .access__input {
    padding: 0;
    margin-bottom: 10px;
  }

  .button-access {
    width: 330px;
  }

  .body__item {
    .item__img {
      width: 184px;
      height: 251px;
    }
    .item__title {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
    .item__text {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 20px;
      line-height: 25px;
      text-align: center;
    }
  }

  //____________________
  //wrapper__block
  .wrapper__block {
    height: 142px;
    margin-bottom: 39px;
    .container {
      .row {
        width: 320px;
        height: 143px;
        .block__title {
          font-size: 22px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }

  //____________________
  //product
  .products__title {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #000000;
  }
  .products-info__title {
    font-size: 25px;
    line-height: 34px;
    text-align: center;
  }
  .products-info__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  .products__img {
    text-align: center;
    .img-phone {
      width: 320px;
      height: 667px;
    }
  }

  //_____________________
  //business

  .title-business {
    font-size: 35px;
    line-height: 46px;
    margin: 15px 0 30px 0;
  }
  .wrapper__business {
  clip-path: polygon(0 0, 100% 2%, 100% 97%, 0% 100%);
    height: 1630px;
  }

  .business__row {
    margin-bottom: 0px;
  }

  .business__col {
    width: 320px;
    height: 228px;
    margin-bottom: 10px;
  }
  .business__col:not(:last-child) {
    margin-right: 0;
  }
  .business__icon {
    margin: 23px 0 10px;
  }

  .info__title {
    font-size: 22px;
    line-height: 30px;
  }

  .info__text {
    font-size: 18px;
    line-height: 25px;
    margin: 0 auto;
  }

  //______
  // Blog

  .blog__title {
    .title {
      margin-bottom: 16px;
    }
  }

  .blog__img {
    width: 320px;
    height: 231px;
  }

  .blog__info__text {
    width: 320px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 38px;
  }

  .button-news {
    margin-bottom: 61px;
  }

  //_____________
  //contact

  .wrapper__contact {
    height: 751px;
  }
  .contact__title {
    font-size: 35px;
    padding-top: 16px;
    line-height: 48px;
  }

  .contact__col-header {
    width: 330px;
    margin: 0 auto;
  }
  .form-group {
    margin: 0;
    width: 100%;
  }
  .contact__text,
  .contact__text-mail {
    font-size: 18px;
    line-height: 25px;
    width: 324px;
    margin: 0;
  }

  //________________________________
  // footer

  .wrapper__footer {
    height: 537px;
  }
  .footer__contact {
    display: none;
  }

  .footer__info {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }

  .footer__menu {
    text-align: center;
  }

  .footer__contact-mobile {
    display: block;
    .contact__link {
      color: #fff;
      text-decoration: none;
    }
    .footer__links {
      margin-top: 17px;
    }
  }

  .footer__hr {
    margin-top: 90px;
  }
  .form-group-access {
    width: 340px;
  }
  .button-access{
    width: 312px;
  }
}

@media (max-width: 1367px) {
  .box {
    display: none;
  }
}
